<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Détails alerte</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <div class="report-item">
        <span class="report-item__label">Code agent</span>
        <span class="report-item__content" >{{alert.agent_code}}</span>
      </div>

      <div class="report-item">
        <span class="report-item__label">Région</span>
        <span class="report-item__content" >{{alert.region}}</span>
      </div>

      <div class="report-item">
        <span class="report-item__label">Date</span>
        <span class="report-item__content" >{{alert.created_at}}</span>
      </div>

      <div class="report-item">
        <span class="report-item__label">Province</span>
        <span class="report-item__content" >{{alert.province}}</span>
      </div>

      <div class="report-item">
        <span class="report-item__label">Commune</span>
        <span class="report-item__content" >{{alert.commune}}</span>
      </div>

      <div class="report-item">
        <span class="report-item__label">Localite</span>
        <span class="report-item__content" >{{alert.localite}}</span>
      </div>

      <div class="report-item">
        <span class="report-item__label">Structure</span>
        <span class="report-item__content" >{{alert.structure}}</span>
      </div>

      <div class="report-item">
        <span class="report-item__label">Point de repère</span>
        <span class="report-item__content" >{{alert.repere}}</span>
      </div>

      <div class="report-item">
        <span class="report-item__label">NIP</span>
        <span class="report-item__content" >{{alert.nip}}</span>
      </div>

      <div class="report-item">
        <span class="report-item__label">Commentaire</span>
        <span class="report-item__content" [innerHTML]="alert.text"></span>
      </div>

      <div class="report-item" *ngIf="alert?.images?.length >= 0">
        <span class="report-item__label">Images</span>
        <span class="report-item__content report-item__photo">
          <img (click)="displayImage(image)" [src]="image" alt="Image" *ngFor="let image of alert.photos">
        </span>
      </div>
      <audio *ngIf="audio !== null && audio !== undefined" controls [src]="getAudio()"></audio>
    </ion-card-content>
  </ion-card>
</ion-content>
