<ion-header>
  <ion-toolbar>
    <ion-title>
      Details
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      {{ alert.region }}
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-label>Agent Code</ion-label>
        <ion-note slot="end">{{ alert.agent_code }}</ion-note>
      </ion-item>

      <ion-item>
        <ion-label>Province</ion-label>
        <ion-note slot="end">{{ alert.province }}</ion-note>
      </ion-item>

      <ion-item>
        <ion-label>Commune</ion-label>
        <ion-note slot="end">{{ alert.commune }}</ion-note>
      </ion-item>

      <ion-item>
        <ion-label>Localite</ion-label>
        <ion-note slot="end">{{ alert.localite }}</ion-note>
      </ion-item>

      <ion-item>
        <ion-label>Structure</ion-label>
        <ion-note slot="end">{{ alert.structure }}</ion-note>
      </ion-item>

      <ion-item>
        <ion-label>Repere</ion-label>
        <ion-note slot="end">{{ alert.repere }}</ion-note>
      </ion-item>

      <ion-item>
        <ion-label>NIP</ion-label>
        <ion-note slot="end">{{ alert.nip }}</ion-note>
      </ion-item>

      <ion-item>
        <ion-label>Recorded Audio</ion-label>
        <ion-note slot="end">
          <a [href]="alert.recorded_audio">{{ alert.video }}</a>
        </ion-note>
      </ion-item>

      <ion-item>
        <ion-label>Image URL</ion-label>
        <ion-note slot="end">
          <a [href]="alert.image_url">{{ alert.image_url }}</a>
        </ion-note>
      </ion-item>

      <ion-item>
        <ion-label>Comment</ion-label>
        <ion-note slot="end">{{ alert.comment }}</ion-note>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
