<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="about-header">
    <!-- Instead of loading an image each time the select changes, use opacity to transition them -->
    <div class="about-image madison"></div>
  </div>

  <div class="about-info">
    <img src="assets/img/bnaf.jpg" alt="">
    <h3 class="ion-padding-top ion-padding-start">A propos</h3>
    <p class="ion-padding-start ion-padding-end">
      La Brigade anti-fraude de l’or (BNAF) est une nouvelle structure d’appui au ministère chargé des Mines. Elle a pour mission la recherche,
      la constatation et la poursuite des infractions à la réglementation de l’activité de commercialisation de l’or produit artisanalement,
      communément appelée "orpaillage", sur toute l’étendue du territoire national.
    </p>
  </div>
</ion-content>
