<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Alertes en attente d'envoi</ion-title>
  </ion-toolbar>
</ion-header>

<ion-loading #ionLoading message="Veuillez patienter"></ion-loading>

<ion-content color="light" *ngIf="alerts.length > 0;">
  <ion-list [inset]="true">
    <ion-item *ngFor="let alert of alerts" ion-ripple-effect>
      <ion-label>
        <p>Code agent: {{ alert.agent_code }}</p>
        <p>Region: {{ alert.region }}</p>
        <p>Province: {{ alert.province }}</p>
        <p>Commune: {{ alert.commune }}</p>
        <p>Localite: {{ alert.localite }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-item>
    <ion-button (click)="offLine()" expand="full">Synchroniser</ion-button>
    <ion-label position="stacked"></ion-label>
    <ion-input class="form-control" type="text"></ion-input>
  </ion-item>
</ion-content>




