<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Nouvelle alerte</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-content>
      <ul class="infos-list">
        <li>
          Les données consignées au sein de ce formulaire revêtent un caractère confidentiel, et leur accès sera restreint exclusivement aux membres actifs de la BNAF.
        </li>
        <li>
          Conformément à la législation en vigueur, il vous est possible de bénéficier d'une indemnisation dans le cas où les informations fournies se révèlent pertinentes.
        </li>
      </ul>
    </ion-card-content>
  </ion-card>

  <form [formGroup]="formGroup" novalidate>
    <ion-loading #ionLoading trigger="open-loading" message="Veuillez patienter"></ion-loading>

    <ion-item>
      <ion-label position="stacked">Région</ion-label>
      <ion-select
        formControlName="region"
        name="region"
        (ionChange)="handleRegionChange($event)"
      >
        <ion-select-option value=""></ion-select-option>
        <ion-select-option
          *ngFor="let region of regions | keyvalue"
          [value]="region.key"
        >
          {{region.key}}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Province</ion-label>
      <ion-select
        formControlName="province"
        name="province"
        (ionChange)="handleProvinceChange($event)"
      >
        <ion-select-option value=""></ion-select-option>
        <ion-select-option
          *ngFor="let province of provinces"
          [value]="province"
        >
          {{province}}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Commune</ion-label>
      <ion-select formControlName="commune" name="commune">
        <ion-select-option value=""></ion-select-option>
        <ion-select-option
          *ngFor="let commune of communes"
          [value]="commune"
        >
          {{commune}}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Secteur / quartier</ion-label>
      <ion-input formControlName="localite" name="localite" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Surnom / nom de la struture en cause</ion-label>
      <ion-input formControlName="structure" name="structure" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Point de repère</ion-label>
      <ion-input formControlName="repere" name="repere" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Numéro NIP de la CNIB (17 chiffres)</ion-label>
      <ion-input
        inputmode="numeric"
        minlength="17"
        maxlength="17"
        pattern="\d*"
        formControlName="nip" name="nip" type="text"></ion-input>
    </ion-item>

    <ion-item class="record-block">
      <ion-icon (click)="deleteRecord()" [ngClass]="{'hidden': !isRecording && recordedData === null}" class="record-button" name="trash-outline"></ion-icon>
      <ion-icon [ngClass]="{'hidden': isRecording || recordedData !== null}" (click)="startRecording()" class="record-button" name="caret-forward-circle-outline" size="large"></ion-icon>
      <p [ngClass]="{'hidden': !isRecording}">{{displayTime()}}</p>
      <audio *ngIf="recordedData !== null" controls [src]="getAudio()"></audio>
      <ion-icon [ngClass]="{'hidden': !isRecording}" (click)="stopRecording()" class="record-button" name="send-outline" size="large"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-button (click)="takePicture()">Prendre une photo</ion-button>
      <img *ngIf="imageSource !== undefined" class="image-container" alt="" src="{{imageSource}}" />
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Commentaire</ion-label>
      <ion-textarea formControlName="message" name="message"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Espace réservé, code si vous en avez</ion-label>
      <ion-input formControlName="agent_code" name="agent_code" type="text"></ion-input>
    </ion-item>

    <ion-button (click)="onSubmit()" expand="full">Envoyer</ion-button>
  </form>
</ion-content>
